<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/base.css"/>
</head>
<body>

{% if loggedin is none or loggedin==False %}
<div class="logon">
    <a href="/login">Login</a> |
    <a href="/signup">Sign Up</a>
</div>
{% else %}
    <div class="logon">
        Hello {{ user_name }}<a href="/logout">(logout)</a>
    </div>
{% endif %}
<div class="main">
    {% block content %}
    {% endblock %}
    <h1>Hello World!</h1>
    Dunbabin built the detection system over a decade ago, but said he shelved the project because there were no
    efficient means of killing the hardy crown-of-thorns starfish in situ. At that time, divers were required to inject
    each starfish up to 20 times, a process that would not be compatible with the underwater drone. A breakthrough by
    researchers at James Cook University (JCU) was a game changer for Dunbabin, allowing him to equip his underwater
    vehicle with a system that would kill the starfish with a single injection.
</div>

</body>
</html>