<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/base.css"/>
</head>
<body>

{% if loggedin is none or loggedin==False %}
<div class="logon">
    <a href="/login">Login</a> |
    <a href="/signup">Sign Up</a>
</div>
{% else %}
    <div class="logon">
        Hello {{ user_name }}<a href="/logout">(logout)</a>
    </div>
{% endif %}
<div class="main">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>